/* Mantén tu CSS actual y agrega/modifica lo siguiente */

/* General */
.container {
    margin-left: 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Añadido para permitir que los elementos se ajusten */
}

.maps, .redes {
    flex: 1;
    margin: 10px;
}

.maps {
    margin-right: 18%;
}

iframe {
    width: 100%;
}

/* Ajustes en el diseño de la cabecera y el cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("/Imagenes/luciernagas.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: center;
    align-items: center;
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(76, 175, 80, 0.8);
    border-radius: 20px;
    border: 3px solid white;
}

/* Header */
header {
    background-color: rgba(76, 175, 80, 0.8);
    color: white;
    padding: 15px 0;
    text-align: center;
}

nav {
    position: relative;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.8);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    margin: 5px;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: rgba(17, 17, 17, 0.8);
}

/* Main */
main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px;
    border-radius: 10px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #4CAF50;
}

/* Responsive Design */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    nav ul.menu-open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    main {
        margin: 10px;
        padding: 15px;
    }

    .container {
        flex-direction: column; /* Añadido para que los elementos se apilen en pantallas pequeñas */
        align-items: center;
    }

    .maps, .redes {
        margin-right: 0;
    }

    .maps iframe, .redes iframe {
        width: 100%;
        height: auto; /* Ajustar altura automáticamente */
    }
}
